.btn {
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    display: inline-block;
    font-weight: bolder;
    opacity: 1;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: var(--transition);
    min-width: 200px;
}

.btn:hover {
    text-decoration: none;
}

.btn--primary {
    background: var(--primary);
    color: var(--light);
}

.btn--primary:hover {
    box-shadow: var(--box-shadow--3);
}

.btn--secondary {
    background: var(--light);
    border: 1px solid var(--primary);
    color: var(--primary);
    text-align: center;
}

.btn--secondary:hover {
    color: var(--secondary);
    box-shadow: var(--box-shadow--3);
}

.btn--third {
    box-shadow: none;
    color: var(--primary);
    opacity: 0.5;
    padding: 0;
    text-decoration: underline;
}

.btn--third:hover {
    opacity: 1;
}

.btn--light {
    background: var(--light);
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn--light:hover {
    opacity: 0.8;
    box-shadow: var(--box-shadow--3);
}

.btn--dark {
    background: var(--secondary);
    box-shadow: var(--box-shadow--3);
}

.btn--rounded {
    border-radius: 50px;
}