.blueprint {
    background: #5c4ee0;
    color: #fff;
    padding: 100px 0;
}

.blueprint .blueprint__two-columns {
    align-items: center;
}

@media screen and (min-width:768px) {
    .blueprint .blueprint__two-columns {
        text-align: left;
    }
}

.blueprint .blueprint__two-columns .left img {
    height: auto;
    max-height: 290px;
    width: auto;
    max-width: 343px;
}





.blueprint .blueprint__two-columns .right h2 {
    margin: 0 0 45px;
    text-align: center;
}

@media screen and (min-width:768px) {
    .blueprint .blueprint__two-columns .right h2 {
        font-size: 50px;
        text-align: left;
    }
}

.blueprint .blueprint__two-columns .right .media {
    margin-left: 40px;
}

@media screen and (min-width:768px) {
    .blueprint .blueprint__two-columns .right .media {
        margin: 0;
    }
}

.blueprint .blueprint__two-columns .right .bluetooth {
    margin-bottom: 39px
}

.blueprint .blueprint__two-columns .right .media .media__left .left__circle {
    border: 2px solid #fff;
    border-radius: 50%;
    height: 95px;
    margin: auto;
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blueprint .blueprint__two-columns .right .media .media__left i {
    border: 1px dashed rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    font-size: 50px;
    height: 70px;
    line-height: 65px;
    text-align: center;
    width: 70px;
}

@media screen and (min-width: 768px) {
    .blueprint .blueprint__two-columns .right .media .media__right {
        text-align: left;
    }
}

.blueprint .blueprint__two-columns .right .media .media__right h4 {
    margin: 0 0 5px;
}

@media screen and (min-width: 768px) {
    .blueprint .blueprint__two-columns .right .media .media__right h4 {
        font-size: 33px;
    }
}

.blueprint .blueprint__two-columns .right .media .media__right small {
    display: block;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0;
}

.blueprint .blueprint__two-columns .right .media .media__right .btn {
    color: var(--secondary);
    display: inline-block;
    font-weight: 600;
    font-size: 8px;
    letter-spacing: 0.5px;
}